name: CI
on:
  push:
    branches:
      - dev
      - stage
      - prod
jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.ref, "dev")
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Build static site
        run: npm install && npm run build
      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./build/ s3://${steps.extract_branch.outputs.branch}-ki-apps-foobar-ui --delete
